In [3]:
import os
os.chdir("C:\\Users\\Suraj\\Desktop\\mini_project\\Travee.AI\\dataset_ds")

In [4]:
os.listdir("C:\\Users\\Suraj\\Desktop\\mini_project\\Travee.AI\\dataset_ds")

['dataset.json', 'guideline_data_scientist.docx']

In [5]:
import pandas as pd

In [6]:
import json
# load data using Python JSON module
with open('dataset.json','r') as f:
    data = json.loads(f.read())

In [7]:
data[2]

{'priceRange': '₹6,637 - ₹7,047',
 'pid': 91560,
 'en_type': 'HOTEL',
 'name': 'Grand Plaza Hotel',
 'category': 'hotel',
 'agg_rating': 5,
 'email': 'grandplazahotel@gmail.com',
 'facilities': [],
 'inventory': 11,
 'prices': [],
 'lat': '-15.74197',
 'long': '33.30524',
 'numberOfFeedbacks': 15,
 'feedback': [{'pid': 333842,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The staff was friendly and helpful. They made sure I had everything I needed during my stay. The staff at the Ocean View Hotel were very accommodating and made my stay enjoyable. The breakfast buffet was delicious and had a good variety of options. The hotel had a great restaurant with delicious food and great service. The breakfast buffet was delicious and had a good variety of options.',
   'user': None,
   'feedback_title': 'Beautiful place with one of the best staff I have ever come across',
   'subrating': []},
  {'pid': 768281,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The Sapphire Hotel was a great place to stay. The room was clean and comfortable. The pool was clean and refreshing. I enjoyed spending time there during my stay. The room was clean and comfortable. I would definitely recommend this hotel to others. The pool was clean and refreshing. I enjoyed spending time there during my stay. The breakfast buffet was delicious and had a good variety of options.',
   'user': None,
   'feedback_title': 'Excellent',
   'subrating': []},
  {'pid': 642603,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': "The room was clean and comfortable. I had a great night's sleep. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The Emerald Hotel was a great place to stay. The room was clean and comfortable. The breakfast buffet was delicious and had a good variety of options. The staff was friendly and helpful. They made sure I had everything I needed during my stay.",
   'user': None,
   'feedback_title': 'Nice place',
   'subrating': []},
  {'pid': 653603,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The pool was clean and refreshing. I enjoyed spending time there during my stay. The hotel had a great rooftop pool with stunning views of the city. The location of the hotel was perfect for a beach vacation. The beach was just a short walk away. The hotel had a great gym. I was able to stay active during my stay. The staff was friendly and helpful. They made sure I had everything I needed during my stay.',
   'user': None,
   'feedback_title': 'Excellent Stay',
   'subrating': []},
  {'pid': 708836,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The breakfast buffet was delicious and had a good variety of options. The Paradise Hotel was a great place to stay. The room was clean and comfortable. The staff was friendly and helpful. They went above and beyond to make sure I had a great stay. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The staff was friendly and helpful. They made sure I had everything I needed during my stay.',
   'user': None,
   'feedback_title': 'Nature in its raw and ravishing beauty',
   'subrating': []},
  {'pid': 799163,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The hotel had a great garden. I was able to relax and enjoy the beautiful scenery. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The Diamond Hotel was a great place to stay. The room was clean and comfortable. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby.',
   'user': None,
   'feedback_title': 'Calm & Pleasant Stay.',
   'subrating': [{'name': 'Sleep Quality', 'value': '5'},
    {'name': 'Cleanliness', 'value': '4'},
    {'name': 'Service', 'value': '5'}]},
  {'pid': 876560,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '4',
   'en_type': 'review',
   'free_text': 'The hotel had a beautiful rooftop pool with stunning views of the city. The Golden Sands Hotel was a great place to stay. The room was clean and comfortable. I had a great stay at the Royal Palace Hotel. The room was spacious and had all the amenities I needed. The Sapphire Hotel was a great place to stay. The room was clean and comfortable. The staff was friendly and helpful. They made sure I had everything I needed during my stay.',
   'user': None,
   'feedback_title': 'Courtesy of Ms. Perera and Mr. Akhil',
   'subrating': [{'name': 'Sleep Quality', 'value': '5'},
    {'name': 'Location', 'value': '4'},
    {'name': 'Service', 'value': '5'}]},
  {'pid': 314575,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '4',
   'en_type': 'review',
   'free_text': 'The breakfast buffet was delicious and had a good variety of options. The breakfast buffet was delicious and had a good variety of options. I had a great stay at the Royal Palace Hotel. The room was spacious and had all the amenities I needed. The breakfast buffet was delicious and had a good variety of options. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby.',
   'user': None,
   'feedback_title': 'Our Stay with the Nature',
   'subrating': [{'name': 'Value', 'value': '3'},
    {'name': 'Sleep Quality', 'value': '3'},
    {'name': 'Service', 'value': '4'}]},
  {'pid': 402566,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '4',
   'en_type': 'review',
   'free_text': 'The Golden Sands Hotel was a great place to stay. The room was clean and comfortable. The breakfast buffet was delicious and had a good variety of options. The location of the hotel was perfect for a beach vacation. The beach was just a short walk away. The location of the hotel was perfect for exploring the city. I would definitely stay here again. The Blue Lagoon Hotel was a great place to stay. The room was clean and comfortable.',
   'user': None,
   'feedback_title': 'A pleasant stay',
   'subrating': []},
  {'pid': 963057,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'I had a great stay at the Royal Palace Hotel. The room was spacious and had all the amenities I needed. The breakfast buffet was delicious and had a good variety of options. The Green Valley Hotel was a great place to stay. The room was clean and comfortable. The hotel had a great restaurant with delicious food and great service. The Golden Sands Hotel was a great place to stay. The room was clean and comfortable.',
   'user': None,
   'feedback_title': 'Good Food ...Good Life....in Good Place',
   'subrating': [{'name': 'Rooms', 'value': '5'},
    {'name': 'Cleanliness', 'value': '5'},
    {'name': 'Service', 'value': '5'}]},
  {'pid': 682589,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The breakfast buffet was delicious and had a good variety of options. The breakfast buffet was delicious and had a good variety of options. The breakfast buffet was delicious and had a good variety of options. The breakfast buffet was delicious and had a good variety of options. The hotel was clean and comfortable. The staff was friendly and helpful.',
   'user': None,
   'feedback_title': 'Awesome ramakkal ❤❤❤',
   'subrating': []},
  {'pid': 636193,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The breakfast buffet was delicious and had a good variety of options. The room was clean and comfortable. I would definitely recommend this hotel to others. The location of the hotel was perfect for a beach vacation. The beach was just a short walk away. The hotel had a great gym. I was able to stay active during my stay. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby.',
   'user': None,
   'feedback_title': 'Wonderful eco friendly resort.',
   'subrating': [{'name': 'Sleep Quality', 'value': '5'},
    {'name': 'Location', 'value': '5'},
    {'name': 'Service', 'value': '5'}]},
  {'pid': 395512,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The view from my room was breathtaking. I could see the ocean for miles. I had a great stay at the Royal Palace Hotel. The room was spacious and had all the amenities I needed. The staff was friendly and helpful. They made sure I had everything I needed during my stay. The pool was clean and refreshing. I enjoyed spending time there during my stay. The breakfast buffet was delicious and had a good variety of options.',
   'user': None,
   'feedback_title': 'Good trip',
   'subrating': []},
  {'pid': 537777,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The breakfast buffet was delicious and had a good variety of options. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The location of the hotel was perfect for a beach vacation. The beach was just a short walk away. The Grand Plaza Hotel was a great place to stay. The room was spacious and comfortable. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby.',
   'user': None,
   'feedback_title': 'Awesome Experience',
   'subrating': [{'name': 'Rooms', 'value': '5'},
    {'name': 'Sleep Quality', 'value': '5'},
    {'name': 'Service', 'value': '5'}]},
  {'pid': 635818,
   'lang': 'en',
   'loc_id': 91560,
   'rating': '5',
   'en_type': 'review',
   'free_text': 'The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby. The staff was friendly and helpful. They made sure I had everything I needed during my stay. The staff was friendly and helpful. They made sure I had everything I needed during my stay. The staff was friendly and helpful. They made sure I had everything I needed during my stay. The location of the hotel was perfect for exploring the city. There were plenty of restaurants and shops nearby.',
   'user': None,
   'feedback_title': 'Salaams Raama Heritage Eco Village just too good for trekking and living with nature',
   'subrating': [{'name': 'Value', 'value': '5'},
    {'name': 'Sleep Quality', 'value': '5'},
    {'name': 'Service', 'value': '5'}]}],
 'Ftags': []}

In [8]:
# Normalizing data
df = pd.json_normalize(data)

In [9]:
df.columns

Index(['pid', 'en_type', 'name', 'category', 'agg_rating', 'email',
       'facilities', 'inventory', 'prices', 'lat', 'long', 'numberOfFeedbacks',
       'feedback', 'Ftags', 'priceRange'],
      dtype='object')

In [31]:
df

,priceRange,pid,en_type,name,category,agg_rating,email,facilities,inventory,prices,...,long,numberOfFeedbacks,Ftags,lang,loc_id,rating,free_text,user,feedback_title,subrating
0,"₹6,637 - ₹7,047",799163,review,Grand Plaza Hotel,hotel,5,grandplazahotel@gmail.com,[],11,[],...,33.30524,15,[],en,91560,5,The hotel had a great garden...,None,Calm & Pleasant Stay.,"[{'name': 'Sleep Quality', 'value': '5'}, {'na..."
1,"₹6,637 - ₹7,047",537777,review,Grand Plaza Hotel,hotel,5,grandplazahotel@gmail.com,[],11,[],...,33.30524,15,[],en,91560,5,The breakfast buffet was delicious...,None,Awesome Experience,"[{'name': 'Rooms', 'value': '5'}, {'name': 'Sl..."

In [14]:
import pandas as pd

# Your JSON data
data = [{'priceRange': '₹6,637 - ₹7,047',
         'pid': 91560,
         'en_type': 'HOTEL',
         'name': 'Grand Plaza Hotel',
         'category': 'hotel',
         'agg_rating': 5,
         'email': 'grandplazahotel@gmail.com',
         'facilities': [],
         'inventory': 11,
         'prices': [],
         'lat': '-15.74197',
         'long': '33.30524',
         'numberOfFeedbacks': 15,
         'feedback': [
             {
                 'pid': 799163,
                 'lang': 'en',
                 'loc_id': 91560,
                 'rating': '5',
                 'en_type': 'review',
                 'free_text': 'The hotel had a great garden...',
                 'user': None,
                 'feedback_title': 'Calm & Pleasant Stay.',
                 'subrating': [{'name': 'Sleep Quality', 'value': '5'},
                              {'name': 'Cleanliness', 'value': '4'},
                              {'name': 'Service', 'value': '5'}]
             },
             {
                 'pid': 537777,
                 'lang': 'en',
                 'loc_id': 91560,
                 'rating': '5',
                 'en_type': 'review',
                 'free_text': 'The breakfast buffet was delicious...',
                 'user': None,
                 'feedback_title': 'Awesome Experience',
                 'subrating': [{'name': 'Rooms', 'value': '5'},
                              {'name': 'Sleep Quality', 'value': '5'},
                              {'name': 'Service', 'value': '5'}]
             }
         ],
         'Ftags': []}]

# Function to flatten nested dictionaries
def flatten(d, parent_key='', sep='_'):
    items = {}
    for key, value in d.items():
        new_key = f"{parent_key}{sep}{key}" if parent_key else key
        if isinstance(value, dict):
            items.update(flatten(value, new_key, sep=sep))
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.update(flatten(item, f"{new_key}{sep}{i}", sep=sep))
        else:
            items[new_key] = value
    return items

# Flatten the JSON data
flattened_data = [flatten(entry) for entry in data]

# Create a DataFrame
df = pd.DataFrame(flattened_data)

In [15]:
df

,priceRange,pid,en_type,name,category,agg_rating,email,inventory,lat,long,...,feedback_1_en_type,feedback_1_free_text,feedback_1_user,feedback_1_feedback_title,feedback_1_subrating_0_name,feedback_1_subrating_0_value,feedback_1_subrating_1_name,feedback_1_subrating_1_value,feedback_1_subrating_2_name,feedback_1_subrating_2_value
0,"₹6,637 - ₹7,047",91560,HOTEL,Grand Plaza Hotel,hotel,5,grandplazahotel@gmail.com,11,-15.74197,33.30524,...,review,The breakfast buffet was delicious...,None,Awesome Experience,Rooms,5,Sleep Quality,5,Service,5

# Apporch 2

In [19]:
import pandas as pd
from pandas import json_normalize

# Flatten the JSON data
df_1 = json_normalize(data, record_path='feedback',
                   meta =['en_type',
 'name',
 'category',
 'agg_rating',
 'numberOfFeedbacks'],
meta_prefix='meta-')

In [21]:
df_1

,pid,lang,loc_id,rating,en_type,free_text,user,feedback_title,subrating,meta-en_type,meta-name,meta-category,meta-agg_rating,meta-numberOfFeedbacks
0,799163,en,91560,5,review,The hotel had a great garden...,None,Calm & Pleasant Stay.,"[{'name': 'Sleep Quality', 'value': '5'}, {'na...",HOTEL,Grand Plaza Hotel,hotel,5,15
1,537777,en,91560,5,review,The breakfast buffet was delicious...,None,Awesome Experience,"[{'name': 'Rooms', 'value': '5'}, {'name': 'Sl...",HOTEL,Grand Plaza Hotel,hotel,5,15

In [22]:
df_2 = df_1.to_dict(orient='records')

In [23]:
df_2

[{'pid': 799163,
  'lang': 'en',
  'loc_id': 91560,
  'rating': '5',
  'en_type': 'review',
  'free_text': 'The hotel had a great garden...',
  'user': None,
  'feedback_title': 'Calm & Pleasant Stay.',
  'subrating': [{'name': 'Sleep Quality', 'value': '5'},
   {'name': 'Cleanliness', 'value': '4'},
   {'name': 'Service', 'value': '5'}],
  'meta-en_type': 'HOTEL',
  'meta-name': 'Grand Plaza Hotel',
  'meta-category': 'hotel',
  'meta-agg_rating': 5,
  'meta-numberOfFeedbacks': 15},
 {'pid': 537777,
  'lang': 'en',
  'loc_id': 91560,
  'rating': '5',
  'en_type': 'review',
  'free_text': 'The breakfast buffet was delicious...',
  'user': None,
  'feedback_title': 'Awesome Experience',
  'subrating': [{'name': 'Rooms', 'value': '5'},
   {'name': 'Sleep Quality', 'value': '5'},
   {'name': 'Service', 'value': '5'}],
  'meta-en_type': 'HOTEL',
  'meta-name': 'Grand Plaza Hotel',
  'meta-category': 'hotel',
  'meta-agg_rating': 5,
  'meta-numberOfFeedbacks': 15}]

In [24]:
# Flatten the JSON data
df_3 = json_normalize(df_2, record_path='subrating',
                   meta =['loc_id'],errors='ignore',
meta_prefix='meta-')

In [25]:
df_3.head()

            name value meta-loc_id
0  Sleep Quality     5       91560
1    Cleanliness     4       91560
2        Service     5       91560
3          Rooms     5       91560
4  Sleep Quality     5       91560

In [26]:
join_df = pd.merge(df_1, df_3, left_on='loc_id', right_on='meta-loc_id', how='outer')

In [27]:
join_df[join_df['loc_id'] == 46638]

Empty DataFrame
Columns: [pid, lang, loc_id, rating, en_type, free_text, user, feedback_title, subrating, meta-en_type, meta-name, meta-category, meta-agg_rating, meta-numberOfFeedbacks, name, value, meta-loc_id]
Index: []

In [28]:
df_1

,pid,lang,loc_id,rating,en_type,free_text,user,feedback_title,subrating,meta-en_type,meta-name,meta-category,meta-agg_rating,meta-numberOfFeedbacks
0,799163,en,91560,5,review,The hotel had a great garden...,None,Calm & Pleasant Stay.,"[{'name': 'Sleep Quality', 'value': '5'}, {'na...",HOTEL,Grand Plaza Hotel,hotel,5,15
1,537777,en,91560,5,review,The breakfast buffet was delicious...,None,Awesome Experience,"[{'name': 'Rooms', 'value': '5'}, {'name': 'Sl...",HOTEL,Grand Plaza Hotel,hotel,5,15

In [29]:
import pandas as pd


# Initialize an empty list to store flattened dictionaries
flattened_data = []

# Iterate through the data and flatten each entry
for entry in data:
    parent_values = {key: entry[key] for key in entry if key != 'feedback'}
    feedback_list = entry.get('feedback', [])
    
    for feedback_entry in feedback_list:
        flattened_entry = parent_values.copy()
        flattened_entry.update(feedback_entry)
        flattened_data.append(flattened_entry)

# Create a DataFrame from the flattened data
df = pd.DataFrame(flattened_data)

In [30]:
df

,priceRange,pid,en_type,name,category,agg_rating,email,facilities,inventory,prices,...,long,numberOfFeedbacks,Ftags,lang,loc_id,rating,free_text,user,feedback_title,subrating
0,"₹6,637 - ₹7,047",799163,review,Grand Plaza Hotel,hotel,5,grandplazahotel@gmail.com,[],11,[],...,33.30524,15,[],en,91560,5,The hotel had a great garden...,None,Calm & Pleasant Stay.,"[{'name': 'Sleep Quality', 'value': '5'}, {'na..."
1,"₹6,637 - ₹7,047",537777,review,Grand Plaza Hotel,hotel,5,grandplazahotel@gmail.com,[],11,[],...,33.30524,15,[],en,91560,5,The breakfast buffet was delicious...,None,Awesome Experience,"[{'name': 'Rooms', 'value': '5'}, {'name': 'Sl..."